:root {
  --primary-text: #33323d;
  --secondary-grey-text: #7a7a7a;
  --grey-border: #dbdbdb;
  --primary-blue: #1875f0;
  --dark-pink: #ec4e86;
  --dark-violet: #753af4;
  --light-green: #70cf73;
  --light-red: #ef7474;
}

p {
  margin: 0 !important;
}

.link_text {
  color: var(--primary-text);
  text-decoration: none;
}

/* Font css for Riviera Nights Trial */
@font-face {
  font-family: Riviera-Font;
  src: url(../fonts/RivieraNightsTrial-Regular.otf);
}

.login_forgotpassword_bg {
  width: 100%;
  height: 100vh;
  background-image: url("../images/svg/login_bg.svg");
  background-size: 100%;
}

.container_login {
  width: 100%;
  height: 100vh;
  font-family: Riviera-Font;
  overflow: hidden;
}

.login_forms {
  width: 100%;
  font-family: Riviera-Font;
}

.loginPg_forms {
  width: 90%;
  margin: auto;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPg_forms .form_field {
  width: 100%;
}

.loginPg_forms .form-control {
  padding: 0.475rem 1.5rem;
  color: var(--primary-text);
  border: 1px solid var(--grey-border);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.065em;
  text-align: left;
  border-radius: 0;
}

.page_title {
  margin: 0px 0 30px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.065em;
}

.nxt_pg_link {
  /* font-family: Riviera Nights Trial; */
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.065em;
  text-align: left;
  color: var(--primary-blue);
  cursor: pointer;
  margin-top: 30px;
}

.loginPg_forms .btn-primary {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
}

.loginPg_forms .btn {
  padding: 0.75rem 2.7rem;
  border-radius: 0;
  margin-top: 35px;
  font-family: Riviera-Font;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.065em;
}

.container_login .form-label {
  color: var(--secondary-grey-text);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.065em;
}

.site_logo {
  width: 65px;
  height: 60px;
  text-align: center;
  margin-bottom: 30px;
}

.site_header {
  margin-bottom: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.065em;
  text-align: center;
  color: var(--primary-text);
}

.sideMenu_bar .css-smkl36-MuiCollapse-wrapper {
  width: 82%;
  margin-left: auto;
}

.sideMenu_bar .css-cveggr-MuiListItemIcon-root {
  min-width: 36px;
}

.sideMenu_bar .css-10hburv-MuiTypography-root {
  font-family: "RivieraNightsTrial";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: 0.065em;
  color: var(--primary-text);
}

.sideMenu_bar .css-bshv44-MuiButtonBase-root-MuiListItem-root,
.sideMenu_bar .css-cveggr-MuiListItemIcon-root {
  color: var(--primary-text);
}

.sideMenu_bar .css-bshv44-MuiButtonBase-root-MuiListItem-root {
  padding-top: 10px;
  padding-bottom: 10px;
}

.attendence_details {
  font-family: "RivieraNightsTrial";
  display: block;
  padding: 15px;
  background-color: #ffff;
  margin: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.attendence_details h2 {
  font-size: 22px;
  font-family: Riviera-Font;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.065em;
  text-align: left;
}

.attendence_details address {
  font-family: Riviera-Font;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.065em;
  text-align: left;
}

.site_detail {
  width: 40%;
}

.site_detail b {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.065em;
  text-align: left;
}

.worker_detail {
  color: var(--dark-violet);
}

.visitors_detail {
  color: var(--dark-pink);
}

.visitors_detail small,
.worker_detail small {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.065em;
}

.progress_bar {
  height: 15px;
  border-radius: 6.5px;
  display: inline-block;
}
.visiter_progress {
  width: 5%;
  background-color: var(--dark-pink);
}
.worker_progress {
  width: 28%;
  background-color: var(--dark-violet);
}

.attendence_table {
  margin: 0 10px;
  font-family: "RivieraNightsTrial";
}

.attendence_table .table > tbody {
  background-color: #ffff;
}

.attendence_table .table > tbody tr {
  border-bottom: 1px solid #dde4ee;
}

.attendence_table .table > tbody tr td {
  vertical-align: middle;
}

.attendence_table .table > thead th {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.065em;
  text-align: left;
  color: var(--secondary-grey-text);
}

.active_indicator,
.inactive_indicator {
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.table_user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: wheat;
  float: left;
  margin-right: 10px;
}

.attendance_username,
.attendance_companyName {
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 0.065em;
}

.attendance_companyName {
  color: var(--primary-text);
}

.attendance_username {
  float: left;
  color: var(--primary-blue);
  margin-top: 12px;
  font-family: Riviera-Font;
}

.worker_visitor {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.065em;
  text-align: left;
}

.active_indicator {
  background-color: var(--light-green);
}

.inactive_indicator {
  background-color: var(--light-red);
}

.share_icon_btn .btn,
.download_icon_btn .btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share_icon_btn .btn-primary {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
}

.share_icon_btn {
  position: absolute;
  bottom: calc(100vh - 95vh);
  left: 85vw;
}

.share_icon_btn svg {
  -ms-transform: rotate(-55deg); /* IE 9 */
  transform: rotate(-55deg);
}

.download_icon_btn {
  position: absolute;
  bottom: calc(100vh - 95vh);
  left: 90vw;
}

/** Media Queries **/
@media only screen and (max-width: 767px) {
  .login_forgotpassword_bg {
    display: none;
  }
  .site_detail {
    width: 100%;
  }
  .visiter_progress {
    width: 30%;
  }
  .worker_progress {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .login_forgotpassword_bg {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .login_forgotpassword_bg {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .login_forgotpassword_bg {
    display: block;
  }

  .site_detail {
    width: 80%;
  }
  .visiter_progress {
    width: 18%;
  }
  .worker_progress {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .site_detail {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  .site_detail {
    width: 40%;
  }
  .visiter_progress {
    width: 8%;
  }
  .worker_progress {
    width: 30%;
  }
}

@media only screen and (min-width: 1400px) {
  .site_detail {
    width: 30%;
  }
  .visiter_progress {
    width: 5%;
  }
  .worker_progress {
    width: 28%;
  }
}
