.contentdiv {
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 4px gainsboro, 0 8px 16px gainsboro, 0 8px 16px gainsboro;
  background: white;
  margin-top: 20px;
}
.mainlogo {
  margin-right: 25px;
}
.bluetext {
  font-weight: bolder;
  color: blue;
  font-size: small;
}
.contentheading {
  font-weight: bolder;
}
.contentdetail {
  font-weight: bold;
  font-size: small;
}
.companyname {
  font-weight: bold;
  font-size: small;
}
.contentsubheading {
  font-weight: 520;
  font-size: small;
  color: gray;
}
.charges {
  margin-left: 30px;
}
